.box {
    padding: 10px;
    border: 1px solid black;
    height: 100px;
    width: 100px;

    
}

.container {
    display: flex;
    background: grey;
    border: 1px solid black;
    flex-wrap: wrap;
    flex: 0 0 calc(100% / 10);
}

